<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Real estate type:</strong>
  <%= @property.real_estate_type %>
</p>

<p>
  <strong>Street:</strong>
  <%= @property.street %>
</p>

<p>
  <strong>External number:</strong>
  <%= @property.external_number %>
</p>

<p>
  <strong>Internal number:</strong>
  <%= @property.internal_number %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @property.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @property.country %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @property.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @property.bathrooms %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @property.comments %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
