<p id="notice"><%= notice %></p>

<h1>Property Characteristics</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Rooms</th>
      <th>Bathrooms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_characteristics.each do |property_characteristic| %>
      <tr>
        <td><%= property_characteristic.property_id %></td>
        <td><%= property_characteristic.rooms %></td>
        <td><%= property_characteristic.bathrooms %></td>
        <td><%= link_to 'Show', property_characteristic %></td>
        <td><%= link_to 'Edit', edit_property_characteristic_path(property_characteristic) %></td>
        <td><%= link_to 'Destroy', property_characteristic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Characteristic', new_property_characteristic_path %>
